
body {
  background: #F0F2F5;
}

.title {
  cursor: pointer;
}

.btn-menu {
  background-color: #F0F2F5;
  border: 0px;
  border-bottom: 3px solid #F0F2F5;
  color: black;
}

.btn-menu:hover, .btn-menu:focus{
  background-color: #F5F2F0;
  border: 0px;
  border-bottom: 3px solid orange;
  color: black;
}

